body {background-color:silver;}
div.top	{
	background: silver;
	padding-top:4%;
	}

/* layout */


* {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 60%;
	height:70%;
	background: white;
	margin: 0 auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	
}
#bilde{

background:white;
padding-right: 0%;
padding-left: 45%; 
padding-top: 0%;
padding-bottom: 0%;
width: 50%;
float:center;
text-align:center;
margin-left: 5%;
}

#header {
	background: black;
	padding-top:3%;
	color: white;
	text-align: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	
}
#meny {
	background: black;
	
	padding-top:10px;
	padding-bottom:10px;
	
	
}
#meny2 {
	background: black;
	
	padding-top:10px;
	padding-bottom:10px;
	
	
}




#column-center {
	width: 80%;
	float: left;
	background: white;
	padding-top:2%;
	padding-bottom:2%;
	
	
	
}

#artikkel{
	
	width: 20%;
	float: center;
	background: #FCBE7C;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 10%;
	padding-left: 10%;
	text-align: left;
	margin-left: 30%;
	}
#innhold{
 
 
  font-family: "Verdana";
  line-height: 20px;	
  text-align: center;
  
  margin-left: 0%;
  padding-bottom: 3%;
  
  }
	
#column-right {
	width: 20.1%;
	float: right;
	background: white;
	padding-top:0%;
	padding-bottom: 0%;
	
	
}
#column-left {
	width: 8%;
	float: left;
	background: white;
	padding-top:0%;
	padding-bottom: auto;
	padding-left:2%;
	
	
}
#column-left1 {
	width: 4%;
	float: left;
	background: white;
	padding-top:0%;
	padding-bottom: 50%;
	padding-left:2%;
	
	
}


#footer {
	clear: both;
	background: black;
	padding-top: 2%;
	padding-bottom: 2%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#mellomt {
	background: white;
	padding-top:1%;
	}
#mellomb {
	background:white;
	padding-top:1%;
	}
#top	{
	background: white;
	padding-top:1%;
	}
/* skrift stil */

 p.meny2 {
 	color: white;
 	word-spacing: 50px; 
 	text-align: center;
 	font-family:myriad pro,Helvetica,sans-serif;
 	font-size:11pt;
 	
}
 p.meny3 {
 	word-spacing: 50px; 
 	text-align: center;
 	font-family:myriad pro,Helvetica,sans-serif;
 	font-size:11pt;
 	
}
p.stilark {
	color: #FCBE7C;
 	text-align: right;
 	font-family:myriad pro,Helvetica,sans-serif;
 	font-size:11pt;
 	
 	}


h2{
text-align: center;}

A:hover   {  background-color: brown; text-decoration: none}


div.col {
padding-top: 2%;
padding-bottom: 2%;
}

div.col1 {
padding-top: 3%;
padding-bottom: 3%;
text-align:left;
padding-left: 10%;
}
div.bilde {
padding-top: 2%;
padding-bottom: 2%;
text-align:center;
float: center;
padding-left: 10%;
}

img.overskrift{
height:23%;¨
width:100%;
}
img.ubanner{
height:34%;¨
width:100%;
}

img.floatRight { 
    float: right; 
    margin: 4px; 
}